<nav class="navbar navbar-expand-lg bg-light">
  <div class="navbar" id="navbarNavAltMarkup">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/">Home page</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/brands/add">Add Brand</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/models/add">Add Model</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/users/add">Add User</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/brands/all">All brand's</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/models/all">All model's</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/models/all">All user's</a>
      </li>
    </ul>
  </div>
</nav>
