<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Model Details</h1>
                </div>
                <div class="row bg-white rounded">
                    <div class="col-md-6">
                        <h2>Model</h2>
                        <h4 th:text="'Name: ' + ${modelDetails.name}"></h4>
                        <h4 th:text="'Category: ' + ${modelDetails.categoryType}"></h4>
                        <h4 th:text="'Start Year: ' + ${modelDetails.startYear}"></h4>
                        <h4 th:text="'End Year: ' + ${modelDetails.endYear}"></h4>
                        <h4 th:text="'Brand: ' + ${modelDetails.brandName}"></h4>
                        <div class="align-bottom" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a class="btn btn-danger align-bottom" th:href="@{/model/model-edit/{model-name}(model-name=${modelDetails.name})}">Update model</a>
                        </div>
                        <div class="align-bottom" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a class="btn btn-danger align-bottom "
                               th:href="@{/model/model-delete/{model-name}(model-name=${modelDetails.name})}">Delete model</a>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/pic/sally'.png" height="350px">
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>

