<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center mt-5 mb-5">
                <!-- Форма фильтрации по ценовому диапазону -->
                <form th:action="@{/offers}" method="get">
                    <label for="minPrice">Min Price:</label>
                    <input type="text" id="minPrice" name="minPrice" />

                    <label for="maxPrice">Max Price:</label>
                    <input type="text" id="maxPrice" name="maxPrice" />

                    <button type="submit">Filter</button>
                </form>
            </div>
            <div th:each="o : ${allOffers}" class="mb-3">
                <div class="card mb-3 mt-3" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-5 d-flex justify-content-center align-items-center">
                            <img src="/pic/jekich3.0.jpg" class="img-fluid rounded-start p-3" alt="...">
                        </div>
                        <div class="col-md-7">
                                <div class="card-body">
                                    <h2 th:text="'Description: '"></h2>
                                    <h4 th:text="'Engine: ' + *{o.engineType}"></h4>
                                    <h4 th:text="'Mileage: ' + *{o.mileage}"></h4>
                                    <h4 th:text="'Price: ' + *{o.price}"></h4>
                                    <h4 th:text="'Transmission: ' + *{o.transmissionType}"></h4>
                                    <h4 th:text="'Year: ' + *{o.year}"></h4>
                                    <a class="btn btn-danger"
                                       th:href="@{/offer/offer-details/{id}(id=${o.id})}"> Detail
                                        info</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

<!--                <div th:if="${not #lists.isEmpty(allOffers)}">-->
<!--                    <div class="row mb-4 d-flex justify-content-around">-->
<!--                        <div th:each="o : ${allOffers}" class="col mb-3">-->
<!--&lt;!&ndash;                            <h2 th:text="'Description: ' + *{o.description}"></h2>&ndash;&gt;-->
<!--                            <h4 th:text="'Engine: ' + *{o.engineType}"></h4>-->
<!--&lt;!&ndash;                            <h4 th:text="'ImageURL: ' + *{o.imageUrl}"></h4>&ndash;&gt;-->
<!--                            <h4 th:text="'Mileage: ' + *{o.mileage}"></h4>-->
<!--                            <h4 th:text="'Price: ' + *{o.price}"></h4>-->
<!--                            <h4 th:text="'Transmission: ' + *{o.transmissionType}"></h4>-->
<!--                            <h4 th:text="'Year: ' + *{o.year}"></h4>-->
<!--&lt;!&ndash;                            <h4 th:text="'Model: ' + *{o.model}"></h4>&ndash;&gt;-->
<!--&lt;!&ndash;                            <h4 th:text="'Seller: ' + *{o.seller}"></h4>&ndash;&gt;-->
<!--                            <h4><a class="btn-block"-->
<!--                                   th:href="@{/offer/offer-details/{id}(id=${o.id})}">Detail-->
<!--                                info</a></h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div th:if="${#lists.isEmpty(allOffers)}">
                    <p>No offers match the specified criteria.</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>
