<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>User Details</h1>
                </div>
                <div class="row bg-white rounded">
                    <div class="col-md-6">
                        <h2>User</h2>
                        <h4 th:text="'First Name: ' + ${userEntityDetails.firstName}"></h4>
                        <h4 th:text="'Last Name: ' + ${userEntityDetails.lastName}"></h4>
                        <h4 th:text="'ImageURL: ' + ${userEntityDetails.imageUrl}"></h4>
                        <h4 th:text="'Password: ' + ${userEntityDetails.password}"></h4>
                        <h4 th:text="'Username: ' + ${userEntityDetails.username}"></h4>
                        <div class="align-bottom">
                            <a class="btn btn-danger align-bottom"
                               th:href="@{/userEntity/userEntity-delete/{userEntity-username}(userEntity-username=${userEntityDetails.username})}">Delete
                                user</a>
                        </div>
                    </div>
                    <div class="col-md-6"><img src="/pic/jekich2.0.png" height="350px"></div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
